@font-face {
    font-family: 'OldGothic';
    src: url('fonts/CloisterBlack.ttf');
}

@font-face {
    font-family: 'Camelot';
    src: url('fonts/CamelotCaps.ttf');
}

h1 {
    font-family: 'OldGothic';
    font-size: 300%;
    text-align: center;
    color: #cc3300;
}

table {
    width: 100%;
    border: none;
}

.miniature {
    text-align: center;
    margin-top: 1em;
}

.links {
    font-size: 18pt;
    overflow: hidden;
}

.somelink {
    font-family: 'OldGothic';
    color: darkblue;
    font-weight: bold;
    text-decoration: underline;
}

.somelink:hover {
    color: #cc3300;
}

a img:hover {
    -webkit-filter: drop-shadow(3px 3px 3px #ff6600);
    filter: drop-shadow(3px 3px 3px #ff6600);
    cursor: pointer;
}

td:first-child {
    text-align: right;
    vertical-align: middle;
    padding-right: 1em;
}

td:not(:first-child) {
    text-align: left;
    vertical-align: middle;
    padding-left: 1em;
}

hr {
    border: none;
    background-color: #cc3300;
    height: 3pt;
    width: 70%;
    alignment-adjust: central;
    vertical-align: central;
    margin-top: 2em;
    margin-bottom: 2em;
    clear: both;
}

.oldstyled {}

.oldtext {
    font-family: 'OldGothic';
    color: black;
    font-size: 18pt;
    text-align: justify;
    line-height: 18pt;
    font-weight: normal;
}

.oldtextcap {
    /* Font and Color */
    font-family: 'Camelot', 'Times New Roman', serif;
    color: #cc3300;
    
    /* Size */
    font-size: 5.73em;
    line-height: 0.78;
    
    /* Positioning */
    float: left;
    display: block;
    position: relative;
    
    /* Spacing with transform for precise alignment */
    margin-right: 0.05em;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    
    /* Cross-browser transform for vertical alignment */
    transform:  translate3d(0, 0.16em, 0);
    -webkit-transform:  translate3d(0, 0.16em, 0);
    -ms-transform:  translate3d(0, 0.16em, 0);
    -o-transform:  translate3d(0, 0.16em, 0);
    -moz-transform:  translate3d(0, 0.16em, 0);

    /* Font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    text-rendering: optimizeLegibility;
    
    /* Prevent selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    /* Box model */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    /* Clear inherited styles */
    padding: 0;
    border: none;
    background: transparent;
    vertical-align: baseline;
    
    /* Mobile fixes */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    
    /* IE fixes */
    zoom: 1;
}

body {
    background-image: url('images/back.jpg');
    margin-left: 10%;
    margin-right: 10%;
}

.footer {
    color: #666666;
    padding-top: 10pt;
    text-align: right;
    font-size: x-small;
}
